/*  GUEST STYLE   */

.introduction{
    float:left;
    background-color: #fff;
    padding: 25px 20px 20px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.introduction img{
    float: left;
    width: 50%;
}

.intro{
    float: left;
    width: 50%;
    padding-left: 15px;
}

.browse{
    margin-top: 25px;
    padding-top: 25px;
    /*background-color: #fff;*/
}

.browse .col-md-4{
    padding: 0;
}

.col{
    background-color: #fff;
    margin-right: 15px;
    width: 32.3%;

}
.col-header{
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 3px solid #33b5e5;
    margin-bottom: 15px;
}
.col-header h3{
    padding: 0;
}
.col-content{
    margin: 15px;
}
.teacher-img{
    text-align: center;
    padding: 15px;
}

.main-page{
    margin-top: 25px;
}

.main-page .col-md-4{
    padding: 0;
}
.info{
    background-color: #fff;
    margin: 0;
    width: 66%;
}
.teacher-row{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.all-teacher{
    background-color: #fff;
    margin-top: 25px;
}
.all-teacher .row {
    padding-bottom: 25px;
    padding-top: 25px;
}
.all-teacher .col-md-4{
    text-align: center;
    cursor: pointer;
}
.all-teacher .teacher-row :hover{
    background-color: #eee;
}
.all-teacher .col-md-4 img{
    margin: auto;
}
.filter select{
    width: 20%;
    display: inline;
}

.filter-box{
    border: 1px solid #EEEEEE;
}
#donvi,#linhvuc{
    display: none;
}
