.notification{
    background-color: #fff;
    margin-top: 25px;
}
.notification-header{
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 3px solid #33b5e5;
    margin-bottom: 15px;
}

.anotification{
    border-bottom: 1px solid #EEEEEE;


}
.anotification .detail{
    padding: 30px 15px 30px 15px;
}

.anotification :hover{
    background-color: #f9f9f9;
}

.dashboard{
    width: 73%;
    margin-top: 25px;
    margin-right: 2%;
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

.detai h3{
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}

.hoso{
    padding-top: 15px;
}
.hoso h3{
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}

.profile{
    padding-top: 25px;
    padding-bottom:25px;
}
.avatar{
    text-align: center;
    padding-right: 25px;
}
.avatar button{
    margin-top: 15px;
}
.avatar img{
    width: 150px;
    margin: auto;
    padding-bottom: 25px;
}
.profile-infomation h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;
}
.profile-infomation button{
    margin-top: 15px;
}
.search-teacher{
    display: inline;
    margin-top: 15px;
    padding-bottom: 15px;
}
.search-teacher input{
    width: 70%;
    display: inline;
}
.search-teacher button{
    width: 20%;
}

.all-teacher{

}
.all-teacher .row {
    padding-bottom: 25px;
    padding-top: 25px;
}
.all-teacher .col-md-4{
    text-align: center;
    cursor: pointer;
}
.all-teacher .teacher-row :hover{
   background-color: #eee;
}
.all-teacher .col-md-4 img{
    margin: auto;
}
.filter select{
    width: 20%;
    display: inline;
}

.filter-box{
    border: 1px solid #EEEEEE;
}
#donvi,#linhvuc{
    display: none;
}



.detai-header{
    padding-bottom: 50px;
}

.detai-header h1{
    float: left;
}
.detai-status{
    float: right;
}

.detaidk{
    margin-top: 30px;
    margin-bottom: 25px;
}
.add-dialog{
    top: 10%;
    left: 30%;
    position: fixed;
    z-index: 99999;
    background: #FFFFFF;
    max-width: 450px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.add-dialog label{
    width: 150px;
}
.add-dialog input[type="text"]{
    width: 200px;
}